<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="extras/styl.css">
    <link rel="stylesheet" href="extras/slideshow.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="content-box">
      {{ content }}
      
<!-- Sekcja pokazu slajdów - dodana osobno -->
    <div class="slideshow-container">
      <div class="mySlides fade">
        <img src="images/animal_0.jpg" alt="Zwierzę 5">
      </div>
      <div class="mySlides fade">
        <img src="images/animal_1.jpg" alt="Zwierzę 1">
      </div>
      <div class="mySlides fade">
        <img src="images/animal_2.jpg" alt="Zwierzę 2">
      </div>
      <div class="mySlides fade">
        <img src="images/animal_3.jpg" alt="Zwierzę 3">
      </div>
      <div class="mySlides fade">
        <img src="images/animal_4.jpg" alt="Zwierzę 4">
      </div>
      <div class="mySlides fade">
        <img src="images/animal_5.jpg" alt="Zwierzę 5">
      </div>
      <div class="mySlides fade">
        <img src="images/animal_6.jpg" alt="Zwierzę 5">
      </div>
      <div class="mySlides fade">
        <img src="images/animal_7.jpg" alt="Zwierzę 5">
      </div>
      <div class="mySlides fade">
        <img src="images/animal_8.jpg" alt="Zwierzę 5">
      </div>
      <div class="mySlides fade">
        <img src="images/animal_9.jpg" alt="Zwierzę 5">
      </div>
      <div class="mySlides fade">
        <img src="images/animal_10.jpg" alt="Zwierzę 5">
      </div>

      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <div class="dots-container">
      <span class="dot" onclick="currentSlide(0)"></span>
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
      <span class="dot" onclick="currentSlide(5)"></span>
      <span class="dot" onclick="currentSlide(6)"></span>
      <span class="dot" onclick="currentSlide(7)"></span>
      <span class="dot" onclick="currentSlide(8)"></span>
      <span class="dot" onclick="currentSlide(9)"></span>
      <span class="dot" onclick="currentSlide(10)"></span>
    </div>

    <script src="extras/slideshow.js"></script>
    <!-- Sekcja pokazu slajdów - dodana osobno -->
    
    </div>
  </body>
</html>
